@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Barlow', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
}
.header-logo{
    margin-top: 27px;
    margin-left: 24px;
}
.header-button{
    background-color:  #E8EFF2;
    border-radius: 8px;
    border: none;
    width:150px;
    margin-top: 23px;
    margin-right: 24px; 
    
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: rgba(22, 37, 66, 1);
    text-align: center;
    text-transform: uppercase;
}
.header-button:hover{
    background-color: #162542;
    cursor: pointer;
    color:rgba(255, 255, 255, 1);  
    border: none;
}
.title-style{
    font-family: 'Barlow';
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    color: rgba(22, 37, 66, 1);
    margin: 64px 24px 32px 24px;
    text-transform: uppercase;
    
}
.text-style{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(123, 139, 173, 1);
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 43px;
}
.second-button{
    background-color:  #F16718;;
    border-radius: 8px;
    border: none;
    width:150px;  
    height: 48px; 

    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-transform: uppercase;
}
.release-time-style{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: rgba(123, 139, 173, 1);
    margin-top: 10px;
    text-transform: uppercase;
}
.second-button-position-box{
    display: flex;
    justify-content: start;
    gap:46px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 64px;
}
.second-button:hover{
    background: rgba(255, 155, 98, 1);
    cursor: pointer;
    
}
.first-img-box{
    overflow: hidden;
}
.first-img-mobile{
    width: 373px;
    transform: translate(24px,0);
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
    margin-bottom: 17px;
    
}
.first-img-tablet{
    display: none;
}
.first-img-desktop{
    display: none;
}
.img-box{
    display: flex;
    justify-content: start;
}
.phone-img-tablet{
    display: none;
}
.phone-img-desktop{
    display: none;
}
.phone-img-phone{
    width: 129px;
    height: 193px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(241, 103, 24, 1);
    opacity: 74.86%;
    mix-blend-mode:multiply;
  
}
.phone-img-background{
    background: rgba(241, 103, 24, 1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translate(-21px,0);
}

.glass-img-tablet{
    display:none;
}
.glass-img-desktop{
    display: none;
}
.glass-img-phone{
    width: 220px;
    border-radius: 20px;
    margin-right: 24px;
    
}

.second-title-style{
    font-family: Barlow;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    color: rgba(22, 37, 66, 1);
    margin-top:80px;
    margin-left: 60px;
    margin-right: 60px;
    text-transform: uppercase;
    text-align: center;
}
.second-text-style{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(123, 139, 173, 1);
    margin-top:24px;
    margin-left: 24px;
    margin-right: 24px;
    text-align:center;
}
.icon-one-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 111px 24px 64px 24px;
}
.icon-background-box{
    height: 65px;
    width: 65px;
    border-radius: 16px;
    background-color:rgba(241, 103, 24, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-box-title{
    font-family: Barlow;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    color: rgba(22, 37, 66, 1);
    text-transform: uppercase;
    margin: 48px 60px 60px 48px;
    text-align: center;
}
.icon-box-text{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: rgba(123, 139, 173, 1);
    text-align: center;

}
.icon-two-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 64px 24px 64px 24px;
}
.icon-four-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 64px 24px 96px 24px;
}
.footer-style{
    color: rgba(123, 139, 173, 1);
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    
    font-family: Barlow;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 50px;

}
@media(min-width:768px){

    .introductory-box{
        display: flex;
        justify-content: center;
        flex-direction: row;
        
    }
    .first-img-mobile{
        display: none;
    }
    .first-img-tablet{
        display: block;
        width:478px;
        margin-top: 65px;
        margin-bottom: 30px;
      
    }
    .header-logo{
        margin-top: 49px;
        margin-left: 39px;
    }

    .header-button{
        margin-right: 40px;
        margin-top: 40px;
        width:175px;
    }
    .text-box{
        width:339px;
        margin-left: 39px;
        margin-right: 75px;
    }
    .title-style{
        margin-top: 131px;
        margin-left: 0;
        margin-bottom: 39px;
        margin-right: 0;

    }
    .text-style{
        margin-left: 0;
        margin-bottom: 39px;
        margin-right: 0;
}
    .second-button-position-box{
        margin-bottom: 100px;
        margin-left: 39px;
        margin-right: 30px;
    }
    .second-button{
        width:175px;
    }
    
    .img-box{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-right: 39px;
        margin-left: 39px;
    }
    .phone-img-phone{
        display: none;
    }
    .phone-img-tablet{
        display: block;
        width: 214px;
        height: 320px;
        border-radius: 20px;
        background-color: rgba(241, 103, 24, 1);
        opacity: 74.86%;
        mix-blend-mode:multiply;
        
    }
    .phone-img-background{
        background: rgba(241, 103, 24, 1);
        border-radius: 20px;
        transform: translate(0,0);
        margin-right: 30px;
    }
    .glass-img-phone{
        display: none;
    }
    .glass-img-tablet{
        display: block;
        width: 445px;
        height: 320px;
        border-radius: 20px;
        
    }
    .mechanical-box{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .second-title-style{
            margin-top: 90px;
            margin-left: 39px;
            margin-right: px36;
            text-align: start;
    }
    .second-text-style{
        margin-top: 90px;
        margin-right: px39;
        text-align: start;
    }
    .icon-boxes{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 176px 39px 142px 39px;
        gap: 69px;
    }
    
    .icon-box-title{
        text-align: start;
        margin: 40px 0 24px 0;
        margin-right: 20px;
    }
    .icon-box-text{
       text-align: start;
       margin: 0 0 0 0;
    }
    .icon-one-box{
        display: flex;
        align-items: start;
        margin:0 0 72px 0;
    }
    
    .icon-two-box{
        display: flex;
        align-items: start;
        margin: 0 0 0 0;
    }
    .icon-four-box{
        display: flex;
        align-items: start;
        margin: 72px 0 0 0;
    }
    .footer-style{
        margin-bottom: 43px;
    }
}
@media(min-width:1440px){
    .header-logo{
        margin-top: 64px;
        margin-left: 165px;
    }

    .header-button{
        margin-right: 165px;
        margin-top: 55px;
    }
    
    .first-img-tablet{
        display: none;
    }
    .first-img-desktop{
        display: block;
        width:540px;
        margin-top: 78px;
        margin-bottom: 0;
        border-radius: 20px;

    }
    .white-box{
        width: 135px;
        height:240px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background: rgba(232, 239, 242, 1);
        margin-top: 78px;
        margin-left: 30px;
       
    }


    .text-box{
        width:445px;
        margin-left: 165px;
        margin-right: 125px;
    }
    .title-style{
        margin-top: 152px;
        margin-left: 0;
        margin-bottom: 24px;
        margin-right: 0;

        font-family: Barlow;
        font-size: 56px;
        font-weight: 900;
        line-height: 56px;
    }
    .text-style{
        margin-left: 0;
        margin-bottom: 40px;
        margin-right: 0;

        font-family: Barlow;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }
    .second-button-position-box{
        margin-bottom: 138px;
        margin-left: 165px;
        margin-right: 40px;
    }
    .second-button{
        width:175px;
    }
    .middle-part-of-desktop{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .white-box-second{
        width: 135px;
        height:240px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: rgba(232, 239, 242, 1);
        margin-top: 239px;
        margin-right: 47px;
    }
    .phone-img-tablet{
        display: none;
    }
    .phone-img-desktop{
        display: block;
        width:255px;
        /* height:480px; */
        border-radius: 20px;
        background-color: rgba(241, 103, 24, 1);
        opacity: 74.86%;
        mix-blend-mode:multiply;

    }
    .phone-img-background{
        margin-right: 30px;
    }
    .glass-img-tablet{
        display: none;
    }
    .glass-img-desktop{
        display: block;
        width:445px;
        height:480px;
        border-radius:20px;
    }
    .mechanical-box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 165px;
        margin-left: 105px;
    }
    .second-title-style{
        margin:0 0 0 0;
        width:255px;
    }
    .second-text-style{
        margin: 24px 0 0 0;
        width:255px;
    }
    .icon-boxes{
        margin:168px 165px 128px 165px;
        gap:30px;
    }
    .icon-box-left-side{
        display: flex;
        justify-content: center;
        gap:30px;
    }
    .icon-box-right-side{
        display: flex;
        justify-content: center;
        gap:30px;
    }
    .icon-one-box{
        margin: 0 0 0 0;
    }
    .icon-two-box{
        margin: 0 0 0 0;
    }
    .icon-four-box{
        margin:0 0 0 0;
    }

}